<!DOCTYPE html>
<html>
<head>
  <title>XOXO</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="static/reset.css">
  <link rel="stylesheet" type="text/css" href="static/style.css">

  <script src="static/socket.io/socket.io.js" defer></script>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" defer></script>
  <script src="static/brain.js" defer></script>
</head>
<body>
<div class="container">
  <div class="name-game">
    <span class="color-blue">X</span>
    <span class="color-red">O</span>
    <span class="color-blue">X</span>
    <span class="color-red">O</span>
  </div>
  <div class="rules-game">
    <div class="rules-title">
      Правила игры
    </div>
    <div class="rules-discription">
      <p class="rules-discription__text">1. Основные термины и определения</p>
      РЯД - Набор значков одного типа, расположенных на одной горизонтальной, вертикальной или диагональной линии.</div>
    <div class="rules-discription">
      Непрерывный ряд - набор значков одного типа, расположенных на одной горизонтальной, вертикальной или диагональной линии, в которой между любыми двумя значками нет пустых пересечений.
    </div>
    <div class="rules-discription">
      <p class="rules-discription__text">2. Процесс игры </p>
      Два игрока (Крестики и Нолики), поочередно, размещают значки своего типа, по одному за ход, на пересечениях пустой игрового поля, которая состоит из 10 горизонтальных и 10
      вертикальных линий.
    </div>
    <div class="rules-discription">
      <p class="rules-discription__text">3. Ход</p>
      Ходом считается постановка значка на одно из пустых пересечений игрового поля.
    </div>
    <div class="rules-discription">
      <p class="rules-discription__text">4. Выигрыш</p>
      Игра считается закончившейся выигрышем одного из игроков, если игрок, первым построил НЕПРЕРЫВНЫЙ РЯД, содержащий ровно 5 значков.
    </div>
    <div class="rules-discription">
      <p class="rules-discription__text">5. Ничья</p>
      Игра считается закончившейся вничью, если на игровом поле не осталось ни одного пустого пересечения куда можно было бы поставить значок, и ни один игрок при этом не добился ВЫИГРЫША.
    </div>
  </div>
  <div class="container-table">
    <div class="table" id="table"></div>
  </div>
    <div class="chat-game">
      <div class="chat-title">
        Игровой чат
      </div>
      <form onsubmit=";return false">
        <input class="input" type="text" id="myMessage" size="30">
        <input type="submit" class="sendbutton" id="sendbutton">
        <ul class="messages" id="messages"></ul>
      </form>
    </div>
  </div>
</body>
</html>